@media (min-width: 769px) {
  /* stili per desktop */
  body {
    font-size: 16px;
  }
}

.navbar {
    font-family: 'Lucida Console', sans-serif;
    padding: 10px;
}
.nav-link {
    font-family: 'Lucida Console', sans-serif;
    font-size: 20px;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  height: 46.6px;
}
a img {
    width: 40px;
    height: 40px;
}

body {
    background-image: url(./Fotoram.io.jpg);
    background-size: cover;
    
}
.fa-user {
  margin-top: 7px;
  margin-right: 30px;
}
.fa-arrow-right-from-bracket {
  margin-top: 7px;
  margin-right: 30px;
}
.fa-heart {
  margin-top: 7px;
  margin-right: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
	height: 100vh;
  padding: 10px;
}

.section-1 {
  background-color: transparent;
  padding: 20px;
  right: 80px;
  position: relative;
}

.section-2 {
  background-color: transparent;
  width: 110%;
  height: auto; /* Imposta l'altezza in base alla larghezza dell'elemento */
  left: 45px;
  position: relative;

}
.section-2 img {
  max-width: 100%;
  max-height: 100%;
  bottom: 20px;
  position: relative;
}
.btn {
  font-family: 'Lucida Console', sans-serif;
  line-height: 2;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .30rem;
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  margin-left: 800px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #000000;
  background-color: transparent;
  border-color: #4e555b;
}
.dropdown-menu {
  position: absolute;
  left: 84%;
  background-color: rgb(255, 196, 157);
}

#dropdownMenuButton:hover {
  background-color: rgb(255, 196, 157);
}

#togglerButton:hover {
  background-color: rgb(255, 196, 157);
}

footer {
  background-color: #fc9b00;
  color: #fff;
  padding: 20px;
  position: relative;
  bottom: auto;
  width: 100%;
  margin-top: 30px;
}

.row a {
  margin-right: 50px;
  color: #fff;
}

.row a:last-child {
  margin-right: 0;
}

