.navbar {
  font-family: 'Lucida Console', sans-serif;
  padding: 10px;
}
@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
}
.nav-link {
  font-family: 'Lucida Console', sans-serif;
  font-size: 20px;
}
a img {
  width: 40px;
  height: 40px;
}

body {
  background-image: url(/Fotoram.io.jpg);
  background-size: cover;
  
}
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* grid-template-columns: repeat(2,1fr); */
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 800px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%; /* imposta la larghezza massima del contenitore al 100% */
  }
}

#dropdownMenuButton{
  font-family: 'Lucida Console', sans-serif;
  line-height: 2; 
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .30rem;
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  margin-left: 880px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
color: #000000;
background-color: transparent;
border-color: #4e555b;
}

.dropdown-menu {
position: absolute;
left: 85%;
background-color: rgb(255, 196, 157);
}

#dropdownMenuButton:hover {
background-color: rgb(255, 196, 157);
}

#togglerButton:hover {
background-color: rgb(255, 196, 157);
}

#clicca {
  font-family: 'Lucida Console', sans-serif;
  text-align: center;
  line-height: 50px;
  position: absolute;
  font-size: 40px;
  height: 60px;
  width: 600px;
  background-color: #fc9b00;
  border: 1px solid transparent;
  border-radius: .50rem;
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  margin-top: 50px;
}

#clicca:hover {
  background-color: rgb(255, 196, 157);
}
footer {
background-color: #fc9b00;
color: #000000;
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;

}
.row a {
margin-right: 50px;
color: #fff;
}

.row a:last-child {
margin-right: 0;
}

.card {
  max-width: 600px;
  height: 590.8;
  border-radius: 0.5rem;
  background-color: #ffeaac;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;

}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  background-image:url(./La-Nascita-del-Brindisi-Infinito-cover2.jpg);
  background-size: cover;
}

.title {
  color: #271111;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.975rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #ffa200;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
  
}
.action:hover {
  color: rgb(0, 0, 0);
}
#form{
  display: none;
}
#submitButton{
  align-self: flex-end;
  color:#fff;
  background-color:  #fc9b00;
  border: #fc9b00;
}
#submitButton:hover {
  background-color: rgb(255, 196, 157);
  cursor: pointer;
}
#place{
  margin-top: 20px;
  margin-right: 75px;
}