.navbar {
  font-family: 'Lucida Console', sans-serif; /* Imposta il font della barra di navigazione */
  padding: 10px; /* Aggiunge un padding interno alla barra di navigazione */
}

@media (max-width: 767px) {
  .navbar {
    width: 100%; /* Imposta la larghezza al 100% quando la larghezza dello schermo è inferiore a 767px */
  }
}

.nav-link {
  font-family: 'Lucida Console', sans-serif; /* Imposta il font dei link nella barra di navigazione */
  font-size: 20px; /* Imposta la dimensione del font dei link nella barra di navigazione */
}

a img {
  width: 40px; /* Imposta la larghezza delle immagini all'interno dei link */
  height: 40px; /* Imposta l'altezza delle immagini all'interno dei link */
}

body {
  background-image: url(/Fotoram.io.jpg); /* Imposta un'immagine di sfondo per il corpo della pagina */
  background-size: cover; /* Adatta l'immagine di sfondo per coprire l'intero corpo della pagina */
}

.grid-container {
  display: grid; /* Imposta il layout come griglia per il contenitore */
  grid-template-columns: repeat(3, 1fr); /* Imposta tre colonne nella griglia con dimensioni uguali */
  grid-template-rows: repeat(2, 1fr); /* Imposta due righe nella griglia con dimensioni uguali */
  gap: 10px; /* Imposta lo spazio tra le celle della griglia */
  margin-top: 20px; /* Aggiunge un margine superiore al contenitore */
  margin-right: 20px; /* Aggiunge un margine destro al contenitore */
  margin-left: 45px; /* Aggiunge un margine sinistro al contenitore */
  align-items: center; /* Allinea gli elementi della griglia verticalmente al centro */
  max-width: calc(100vw - 40px); /* Imposta la larghezza massima del contenitore sottraendo il padding e i margini orizzontali totali */
}

@media screen and (max-width: 768px) {
  .grid-container {
    max-width: 100%; /* Imposta la larghezza massima del contenitore al 100% quando la larghezza dello schermo è inferiore a 768px */
  }
}

.fa-user {
  font-size: 20px; /* Imposta la dimensione del font dell'icona utente */
  margin-right: 20px; /* Aggiunge un margine destro all'icona utente */
}

#dropdownMenuButton {
  font-family: 'Lucida Console', sans-serif; /* Imposta il font del pulsante di menu a discesa */
  line-height: 2; /* Imposta l'altezza della riga del pulsante di menu a discesa */
  background-color: transparent; /* Imposta il colore di sfondo del pulsante di menu a discesa come trasparente */
  border: 1px solid transparent; /* Imposta il bordo del pulsante di menu a discesa come trasparente */
  border-radius: .30rem; /* Imposta il bordo arrotondato del pulsante di menu a discesa */
  color: rgba(0, 0, 0,.1);
  margin-left: 880px;
}

/* Stile per i pulsanti secondari attivi che non sono disabilitati e non hanno la classe 'disabled' */
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
color: #000000;
background-color: transparent;
border-color: #4e555b;
}

/* Stile per il menu a tendina */
.dropdown-menu {
position: absolute;
left: 85%;
background-color: rgb(255, 196, 157);
}

/* Stile per il dropdownMenuButton quando il cursore si trova sopra di esso */
#dropdownMenuButton:hover {
background-color: rgb(255, 196, 157);
}

/* Stile per il togglerButton quando il cursore si trova sopra di esso */
#togglerButton:hover {
background-color: rgb(255, 196, 157);
}
/* Classe 'item' */
.item {
  color: transparent;
}

/* Stile per l'elemento con ID 'clicca' */
#clicca {
  font-family: 'Lucida Console', sans-serif;
  text-align: center;
  line-height: 50px;
  position: absolute;
  font-size: 40px;
  height: 60px;
  width: 600px;
  background-color: #fc9b00;
  border: 1px solid transparent;
  border-radius: .50rem;
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  margin-top: 50px;
}

/* Stile per il pulsante con ID 'btnrev', è il pulasante per aprire il form e lasciare la recensione*/
#btnrev {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color:  #fc9b00;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #000000;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
  margin-top: 80px;
  margin-bottom: 90px;
  margin-left: 80px;
  margin-right: 80px;
}

/* Stile per il pulsante con ID 'btnrev' quando il cursore si trova sopra di esso */
#btnrev:hover {
  transform: translate(5px, -5px);
}
  
/* Stile per l'elemento con ID 'clicca' quando il cursore si trova sopra di esso */
  #clicca:hover {
  background-color: rgb(255, 196, 157);
}
footer {
background-color: #fc9b00;
color: #000000;
padding: 20px;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
clear: both;
}
.row a {
margin-right: 50px;
color: #fff;
}

.row a:last-child {
margin-right: 0;
}

#review {
  height: 250px;
}
#post {
  max-width: 600px;
  height: 590.8;
  border-radius: 0.5rem;
  background-color: #ffeaac;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;

}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  background-image:url(./La-Nascita-del-Brindisi-Infinito-cover2.jpg);
  background-size: cover;
}

.title {
  color: #271111;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #ffa200;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
  
}
.action:hover {
  color: rgb(0, 0, 0);
}


.form {
  display: none;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

#form{
  display: none;
}
#submitButton{
  background-color: #fc9b00;
  color: #000000;
  border: none;
  margin-bottom: 15px;
}

#submitButton:hover{
  background-color: rgb(255, 196, 157);
  cursor: pointer;
}

#place{
  margin-top: 25px;
}
#bottle{
  margin-right: 90px;
}

#backbutton {
  display: none;
  height: 2em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #ffeaac;
  color: #fc9b00;
  margin-bottom: 10px;
 }
 
 #backbutton > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 #backbutton:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 #backbutton:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }
 #review1 {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  margin: 20px;
}
#review2 {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  margin: 20px;
}
#review3 {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  margin: 20px;
}

