.navbar {
    font-family: 'Lucida Console', sans-serif;
    padding: 10px;
}
.nav-link {
    font-family: 'Lucida Console', sans-serif;
    font-size: 20px;
}
a img {
    width: 40px;
    height: 40px;
}

body {
    background-size: cover;
    
}
.fa-user {
    margin-top: 7px;
    margin-right: 30px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}

.container{
    
    height: 100vh;
    padding: 20px;
    margin-left: 100px;
    margin-top: 20px;
}

#map {
    height: 400px; 
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #727272;
    position: relative;
}
.navbar-nav.ml-auto .nav-link i.fa-user{
    display: none;
}
.navbar-nav:not(.ml-auto) .nav-link i.fa-user{
    display: none;
}

