.list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: list-item;
  }
  
  .list-container li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
    overflow: hidden;
  }
  
  .list-container img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
  
  .list-container div {
    flex-grow: 1;
    padding: 10px;
  }
  
  .list-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .list-container p {
    font-size: 1rem;
    margin: 0;
  }
  
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .filter-container input {
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }